.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}

.pageContentContainer {
  width: 890px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightButtonContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 10px;
}

.usersList {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 500px;
  width: 100%;
}

.usersListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #1f2a62;
}

.usersListContent {
  overflow: auto;
  height: calc(100% - 96px);
  padding: 20px 25px;
}

.userRow {
  margin-block: 1px 6px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.userRowInput {
  flex-basis: 22.5%;
}

/* New classes */

.rowWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  gap: .25rem;
}

/* Errors */

.errors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #aaa;
  padding: 0.25rem 0;
}

.errorsTitle {
  font-weight: bold;
}